.post-list
  padding: 0

  .post-item
    margin-bottom: 1rem
    margin-left: 0
    list-style-type: none

    .meta
      display: block
      margin-right: 16px
      min-width: 100px
      color: $color-meta
      font-size: 14px

@media (min-width: 480px)
  .post-list
    .post-item
      display: flex
      margin-bottom: 5px

      .meta
        text-align: left

.project-list
  padding: 0
  list-style: none

  .project-item
    margin-bottom: 5px
    p
      display: inline

.content-page
  .content
    p, ul
      font-size: 1em
      line-height: 2
    h1
      text-align: center
      font-size: 3.5em
      margin: 0
    h2
      font-size: 2em
      text-align: center
      margin: 0
      color: $color-accent-1
      padding-left: 0
    h2:before
      display: none
    h3
      font-size: 1.5em
      margin-top: 1em
      text-decoration: none

@media (max-width: 480px)

  .content-page
    .content
      h1
        font-size: 2em
      h2
        font-size: 1.5em
      h3
        font-size: 1em

.index-logo img
  width: 120px
  height: 120px
